* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 20px;
  place-items: center;
  padding: 39px;
}

#searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#btn {
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  background: rgb(159, 56, 255);
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 2px black;
  transition: 0.2s;
}

#btn:hover {
  background: blueviolet;
}

#btn:active {
  color: blueviolet;
  background: white;
  border: 1px solid black;
  padding: 9px 17px;
  box-shadow: 0px 0px 0px black;
}

input {
  padding: 9px 17px;
  border-radius: 3px;
  border: 1px solid black;
}

#imgBox img {
  height: 202px;
  width: 144px;
  border-radius: 4px;
  float: left;
  right: -336px;
  position: relative;
}

#imgBox #text-wrap {
  float: right;
  width: 40%;
  position: relative;
  left: 488px;
  top: -166px;
}

#imgBox {
  display: grid;
  column-count: 3;
  width: 100%;
  height: 220px;
  gap: 10px;
}

#imgWrapper {
  padding: 50px;
}

h3 {
  position: relative;
  top: -18px;
  font-size: 30px;
  width: 100%;
}

h3 span {
  display: flex;
  width: 677px;
}

h5 {
  font-size: 17px;
}

@media (max-width: 600px) {
  body {
    display: flex;
  }
}

@media (max-width: 504px) {
  #wrapper {
    display: block;
  }
  #searchBox {
    width: 100%;
  }
  #imgWrapper {
    width: 100%;
  }
  #imgBox img {
    position: relative;
    /* height: 202px; */
    width: 144px;
    border-radius: 4px;
    float: left;
    right: 0;
  }

  #imgBox #text-wrap {
    float: right;
    width: 100%;
    position: relative;
    left: 0;
    top: 28px;
  }
}

@media (max-width: 500px) {
  #imgBox img {
    width: 120px;
  }
  #imgBox {
    display: flex;
    gap: 10px;
  }

  #imgWrapper {
    padding: 50px;
  }
  h3 {
    font-size: 18px;
  }

  h5 {
    font-size: 15px;
  }
}
